@import "_vars";
@import "_flexbox_bar";

body {
  background-color: $back-color;
  color: $primary-color;
  margin: 0;
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid $primary-color;
}

main {
  padding: 0 1rem;
}

footer {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

footer > .footer-logo {
  height: auto;
  width: 1.5rem;
  padding: 1rem;

  fill: $primary-color;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $back-color;
}

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-logo > img {
  height: 80px;
  width: auto;
  padding: 1rem;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5rem;
}

.button {
  color: $primary-color;
  padding: 0.4rem;
  margin: 0.2rem;
}

.button:hover {
  background-color: $primary-color;
  color: $back-color;
  border-radius: 0.2rem;
}

.platform-title {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.section-title {
  font-size: 1.2rem;
  padding: 2rem 0;
}

#top-text:after {
  content: '' + "5";
}


// In >1280px resolutions, min-height will grow/decrease with a percentage
// of width viewport size
.top {
  @include flexbox_bar(20vw, row-reverse);
}

.first {
  @include flexbox_bar(13vw, row);
}

.second {
  @include flexbox_bar(13vw, row);
}

.top-item {
  padding: 2px;
  flex: 1;
  transition: flex-grow 1s;

  &:hover {
    flex-grow: 1.3;
  }
}

.item {
  padding: 2px;
  flex: 1;
  transition: flex-grow 1s;

  &:hover {
    flex-grow: 1.4;
  }

}

img {
  width: 100%;
  height: auto;
}

// ----------------------------------------------------------
// Tablet
// ----------------------------------------------------------

@media screen and (max-width: $breakpoint-l) {

  .top {
    @include flexbox_bar(30vw, row-reverse);
  }

  .first {
    margin: -2rem 0 2rem 0;
    @include flexbox_bar(37vw, row, wrap, center);
  }

  .second {
    margin: -2rem 0 2rem 0;
    @include flexbox_bar(37vw, row, wrap, center);
  }

  .platform-title {
    display: none;
  }

  .top-item:nth-of-type(-n+2) {
    display:none;
  }

  #top-text:after {
    content: '' + "3";
  }

  .top-item {
    min-width: 225px;
    height: 23vw;
  }

  .item {
    min-width: 250px;
    height: 28vw;
  }

  img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

// ----------------------------------------------------------
// Móvil
// ----------------------------------------------------------

@media screen and (max-width: $breakpoint-s) {

  .top {
    @include flexbox-bar(auto, column-reverse, nowrap, center, stretch);
  }

  .first {
    @include flexbox_bar(auto, column, nowrap, center, stretch);

  }

  .second {
    @include flexbox_bar(auto, column, nowrap, center, stretch);

  }

  .section-title {
    text-align: center;
  }

}
