<h1>Gallery Page</h1>

<div>
  <div class="gallery-container">
    <div class="img-container">
      <img
        [style.transform]="'scale(' + scaleFactor + ')'"
        class="img-full"
        [src]="images[selectedImage]?.src"
      />
    </div>
    <div class="button-list">
      <button
        color="primary"
        mat-raised-button
        (click)="previousImage()"
        [disabled]="selectedImage <= 0"
      >
        <mat-icon aria-hidden="false" aria-label="Before">
          navigate_before
        </mat-icon>
      </button>
      <button
        color="primary"
        mat-raised-button
        (click)="nextImage()"
        [disabled]="selectedImage >= images.length - 1"
      >
        <mat-icon aria-hidden="false" aria-label="Next">
          navigate_next
        </mat-icon>
      </button>
      <button color="accent" mat-raised-button (click)="scaleIn()">
        <mat-icon aria-hidden="false" aria-label="Zoom In"> zoom_in </mat-icon>
      </button>
      <button color="accent" mat-raised-button (click)="scaleOut()">
        <mat-icon aria-hidden="false" aria-label="Zoom Out">
          zoom_out
        </mat-icon>
      </button>
      <button color="warn" mat-raised-button (click)="play()">
        <mat-icon *ngIf="playButton" aria-hidden="false" aria-label="Play">
          play_arrow
        </mat-icon>
        <mat-icon *ngIf="!playButton" aria-hidden="false" aria-label="Stop">
          stop
        </mat-icon>
      </button>
    </div>
    <div class="img-preview-list">
      <button
        color="primary"
        mat-raised-button
        (click)="previousPreviewImage()"
        [disabled]="selectedPreviewImage <= 1"
      >
        <mat-icon aria-hidden="false" aria-label="Left">
          arrow_circle_left
        </mat-icon>
      </button>
      <ng-container
        *ngFor="
          let image of images
            | slice
              : sliceFirstRange(selectedPreviewImage)
              : sliceEndRange(selectedPreviewImage)
        "
      >
        <img
          width="120"
          (click)="selectImage(image)"
          [src]="image.src"
          [class.selected-img]="image.id == selectedImage"
        />
      </ng-container>
      <button
        color="primary"
        mat-raised-button
        (click)="nextPreviewImage()"
        [disabled]="selectedPreviewImage >= images.length - 2"
      >
        <mat-icon aria-hidden="false" aria-label="Left">
          arrow_circle_right
        </mat-icon>
      </button>
    </div>
  </div>
</div>
