h1 {
  text-align: center;
  padding-top: 3rem;
}

button {
  margin: 1rem;
}

.img-container {
  margin: auto;
  width: 800px;
  padding: 10px;
}

.img-container .img-full {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 10px;
}

.button-list {
  display: flex;
  justify-content: center;
}

.img-preview-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview-list img {
  margin: 1rem;
  opacity: 0.5;
  border-radius: 10px;
}

.img-preview-list .selected-img {
  opacity: 1;
}

.img-preview-list .mat-icon {
  align-self: center;
}
