# Parcel
**/.cache
**/dist

# VSCode
**/.vscode

# System
**/.DS_Store
**/desktop.ini

# NPM & Yarn
**/node_modules
**/yarn.lock
**/package-lock.json

# Others
**/build/
**/transpiled/
*.log
*.orig



# */src/**/*.js.map
