$base-color: #2b2e4a;
$important-color: #e84545;
$warning-color: #903749;
$border-radius: 20px;
$principal-font: 'Roboto', sans-serif;
$secondary-font: 'Ubuntu', sans-serif;
$box-shadow: 15px 15px 5px 0px rgba(0,0,0,0.6);