$base-color: #f9ed69;
$important-color: #f08a5d;
$warning-color: #b83b5e;
$border-radius: 0px;
$principal-font: 'Oswald', sans-serif;
$secondary-font: 'Lato', sans-serif;
$box-shadow: -15px 15px 5px 0px rgba(0,0,0,0.6);
