<h1>Login Page</h1>
<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognized
      </mat-error>
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="Email"
          formControlName="username"
          required
        />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error> Please provide a password with 8 chars or more </mat-error>
      </mat-form-field>
      <mat-spinner
        *ngIf="showSpinner"
        class="spinner"
        diameter="60"
      ></mat-spinner>
      <button
        *ngIf="!showSpinner"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
