@import "~/src/styles.scss";

.mat-toolbar img {
  margin: 0 16px 0 0;
}

.spacer {
  flex: 1 1 auto;
}

.mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
}

.mat-list-base {
  padding: 8px 4px;
}

.mat-list-item {
  color: white;
  margin: 0 4px;
}

.active-link,
.mat-list-item:hover,
.mat-list-item:focus {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.mat-icon {
  padding-right: 10px;
}
