@import "~/src/styles.scss";

.mat-toolbar img {
  margin: 0 16px 0 0;
}

.spacer {
  flex: 1 1 auto;
}

.mat-nav-list.list-horizontal {
  display: flex;
  flex-direction: row;
}

.mat-list-item {
  color: white;
}

.mat-list-item:hover {
  background-color: rgb(62, 131, 50);
  border-radius: 10px;
}

.mat-icon {
  padding-right: 10px;
}
